body {
  border: 1px solid black;
  outline-style:solid;
  outline-color: black;
  outline-width: thin;
  background-color: #444444;
  color: #dddddd;
  background-image: url('paper.gif');
  font-family: Times New Roman, arial , sans-serif;
  margin:10% 20%
  
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.2)
}

p1{
  color: lightblue;
  font-family:verdana;
  font-size: 12px;
  text-align: center;
}
h4{
  color: black;
  font-family: Times New Roman;
  font-size: 14px
}
h5{
  color: black;
  font-family: Times New Roman;
  font-size: 12px
}
